.hero__button-primary {
    display: inline-block;
    align-items: center;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 136px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    background-color: var(--accent-color);
    color: var(--primari-background-color);
    font-family: inherit;
    cursor: pointer;

    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.button-primary:hover,
.button-primary:focus {
    background-color: #188CE8;
}